<div class="container" style="border: solid 1px black; padding: 35px; width: 45%;">
    <div class="row">
    <label for="">Insert text</label>
    <textarea [(ngModel)]="newPost.postText" style="width: 85%; height: 12em;" > </textarea>
    </div>
    <div class="row" style="margin-top: 20px;">
    <!-- <label for="">Insert link</label>
    <input type="text" > -->
    </div>
    <div class="row" style="margin-top: 50px;">
    <div class="text-center">
        <input class="form-control" [(ngModel)]="filename" #imageInput type="file" accept="image/*" (change)="onChange(imageInput)" style="width: 50%;">
      
        <button (click)="onUpload()" 
            class="btn btn-success" style="margin-top: 20px;">
            Upload
        </button>
      </div>
    </div>

    <button class="btn-primary" (click)="makeNewPost()">Make new post</button>
</div>

<div *ngIf="showPost">

</div>
