input{
    background-color: white;
    color : black
}
.row {
    background: #f6f6f6;
    border: 1px solid #ccc;
    overflow: hidden;
    padding: 10px;
}
.col {
    float: left;
    width: 70%
}
.form-group{
    padding: 5px;
    text-align: center;
    
}