<nav class="navbar navbar-expand-lg  py-3 fixed-top customnavbar">
  <div class="container">
    <a href="#"><img src="../assets/dislinkt-logo.jpg" width="180" height="60" alt="logo" class="img-fluid imglogosec"></a>
  
    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto"> 
        
        <li class="xs-5" style="margin-right: 30px;">
          <a routerLink="register">
            <button type="button" class="btn custombuttonfull btn-dark">Sign in</button>
          </a>
        </li>
        <li>
        </li>

        <li class="xs-6">
          <a routerLink="">
            <button type="button" *ngIf="logged" class="btn custombuttonfull btn-dark" (click)="logOut()">Log out</button>
          </a>
        </li>
        <li class="xs-6">
          <a routerLink="login">
            <button type="button" class="btn custombuttonfull btn-dark">Log in</button>
          </a>
        </li>
      </ul>
    </div>  </div>
</nav>
<div style="height: 170px;"></div>

<div class="text-center">
  <input class="form-control" [(ngModel)]="filename" #imageInput type="file" accept="image/*" (change)="onChange(imageInput)" style="width: 50%;">

  <button (click)="onUpload()" 
      class="btn btn-success">
      Upload
  </button>
</div>

<router-outlet></router-outlet>

<footer class="p-5 footersecurity text-white position-relative">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="lead">Copyright &copy; 2022 XWS project</p>
      </div></div></div>
</footer>